#LoadModule auth_openidc_module /usr/lib/apache2/modules/mod_auth_openidc.so

<VirtualHost *:80>
        ServerName custom.domain.tld
        DocumentRoot /var/www/html

        OIDCProviderMetadataURL <insert .well-known endpoint here>
        OIDCClientID <insert your client-id here>
        OIDCClientSecret <insert your client-secret here>
        OIDCResponseType "code"
        OIDCResponseMode "query"
        OIDCScope "openid profile"

        OIDCRedirectURI https://<custom.domain.tld>/redirect_uri
        OIDCCryptoPassphrase randompassword

        # Reverse Proxy requests to correct VM
        ProxyRequests On
        ProxyPreserveHost on

        # Rewrite websocket requests to make Jupyter work
        RewriteEngine on

        # Authentication Header
        RequestHeader unset X-Authenticated-User
        RequestHeader unset X-Authenticated-Name
        RequestHeader set X-Authenticated-User expr=%{ENV:OIDC_CLAIM_sub}
        RequestHeader set X-Authenticated-Name expr=%{ENV:OIDC_CLAIM_sub}

        <Location />
            #AuthType Basic
            #AuthName "Restricted"
              # (Following line optional)
              #AuthBasicProvider file
            #AuthUserFile "/etc/apache2/passwords"
            AuthType openid-connect
            Require valid-user
        </Location>

        RedirectMatch 301 /hub(\d+)$ /hub$1/
        <LocationMatch "^/hub(\d+)/(.*)">
            RewriteCond %{HTTP:Connection} Upgrade [NC]
            RewriteCond %{HTTP:Upgrade} websocket [NC]
            RewriteRule /hub(\d+)/(.*) ws://172.21.11.$1:8000/hub$1/$2 [NE,P,L]

            ProxyPassMatch http://172.21.11.$1:8000/hub$1/$2
            ProxyPassReverse http://172.21.11.$1:8000/hub$1/$2
        </LocationMatch>

        RedirectMatch 301 /ep(\d+)$ /ep$1/
        <LocationMatch "^/ep(\d+)/(.*)">
            ProxyPassMatch http://172.21.11.$1:9001/$2
            ProxyPassReverse  http://172.21.11.$1:9001/$2
        </LocationMatch>
        <LocationMatch "^/ep(.+)/socket.io">
            RewriteCond %{QUERY_STRING} transport=websocket    [NC]
            RewriteRule /ep(\d+)/(.*) ws://172.21.11.$1:9001/socket.io/$2 [P,L]
        </LocationMatch>
</VirtualHost>
